# Week 1 Quiz

Start by reading the table:

In [76]:
table <- read.csv('hw1_data.csv')

Select column names:

In [77]:
names(table)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

Show the first two rows:

In [78]:
head(table, 2)

  Ozone Solar.R Wind Temp Month Day
1 41    190     7.4  67   5     1
2 36    118     8.0  72   5     2

How many rows are in the dataframe?

In [79]:
nrow(table)

[1] 153

Show the last two rows:

In [80]:
tail(table, 2)

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

Select the value of Ozone in the 47th row:

In [85]:
table[47,]$Ozone

[1] 21

How many NA values are in the Ozone column?

In [82]:
nrow(table[is.na(table$Ozone),])

[1] 37

Average Ozone level:

In [66]:
mean(table$Ozone, na.rm = TRUE)

[1] 42.12931

Select Ozone > 31 and Temp > 90 and compute the average Solar.R:

In [83]:
mean(table[complete.cases(table) & table$Ozone > 31 & table$Temp > 90,]$Solar.R)

[1] 212.8

Average temperature in June:

In [84]:
mean(table[table$Month == 6,]$Temp)

[1] 79.1

Max Ozone level in May:

In [75]:
max(table[!is.na(table$Ozone) & table$Month == 5,]$Ozone)

[1] 115